* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dfd9d9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2, h3 {
  font-weight: 600;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.8em;
  font-weight: 400;
}

small {
  font-weight: 600;
}

.container {
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #e20a16;
}

nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
nav ul li {
  background-color: #e20a16;
  border-right: 1px solid white;
}
nav ul li:hover {
  opacity: 0.8;
}
nav ul a {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

nav.left {
  flex-basis: 65%;
}
nav.left ul li:first-of-type {
  background-color: #453b43;
}

nav.right {
  flex-basis: 35%;
}
nav.right ul li:last-of-type {
  border: none;
  background-color: #c80007;
  flex-grow: 1;
}

main {
  height: calc(100vh - 100px);
  background-color: #f1f1f1;
  padding: 20px 0;
}
main .container {
  height: 100%;
}
main .container h2 {
  margin-bottom: 20px;
}

.section-container {
  height: 100%;
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.album-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.album-container .item {
  flex-basis: calc(100% / 5);
  margin-bottom: 30px;
}
.album-container .item img {
  width: 150px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.album-container .item img:hover {
  box-shadow: 0 0 12px black;
}
.album-container .item h3 {
  cursor: pointer;
}
.album-container .item h4 {
  font-style: oblique;
  cursor: pointer;
}
.album-container .item small {
  color: red;
  cursor: pointer;
}

footer {
  height: 45px;
  padding: 0 40px;
  background-color: #dfd9d9;
}
footer ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer ul li {
  height: 100%;
  flex-basis: 20%;
}
footer ul li img {
  height: 110%;
}
footer ul li a {
  line-height: 50px;
  color: #e20a16;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 10px;
}
